COMMUNICATION_NODE_API_KEY=""
COMMUNICATION_NODE_HOST=""
EXPRESS_VITE_API_URL="" # Vite API URL for Express

VITE_EXPRESS_API_URL="" # Express API URL for Vite

PORT=""

EXPRESS_SOCKET_SECRET_KEY = "" # Secret key that allows the communication node to connect to the Express server
